name: Build docker
on:
  workflow_call:
    inputs:
      app:
        required: true
        type: string
      dockerfile:
        required: true
        type: string
    outputs:
      image_tag:
        value: ghcr.io/${{ github.repository }}/${{ inputs.app }}:${{ github.sha }}

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v4
      - uses: docker/setup-buildx-action@v3
      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - uses: docker/build-push-action@v5
        with:
          context: .
          file: ${{ inputs.dockerfile }}
          push: true
          tags: ghcr.io/${{ github.repository }}/${{ inputs.app }}:${{ github.sha }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
